#### Name: Istiaque Hasan Nihal
#### ID: i23b0034s06


Practice problem 4.1

Load all of the dimension table from e-commerce-data.xlsx into the padas dataframe.

In [2]:
pip install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     ------------------------------------ 250.0/250.0 kB 807.2 kB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [6]:
import pandas as pd

fact_table = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Fact_table', engine='openpyxl')
trans_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Trans_dim', engine='openpyxl')
item_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Item_dim', engine='openpyxl')
customer_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Customer_dim', engine='openpyxl')
time_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Time_dim', engine='openpyxl')
store_dim = pd.read_excel(r'e-com-sales-out.xlsx', sheet_name='Store_dim', engine='openpyxl')






 
fact_table

,payment_key,coustomer_key,time_key,item_key,store_key,quantity,unit,unit_price,total_price
0,P025,C001495,T08774,I00185,S0038,19,ct,14.00,266.0
1,P009,C000904,T09092,I00017,S0007,8,cans,6.75,54.0
2,P019,C001627,T03980,I00235,S0013,1,ct,14.00,14.0
3,P004,C001606,T00982,I00232,S0038,7,ct,12.00,84.0
4,P019,C001273,T09057,I00075,S0012,35,cans,15.50,542.5
...,...,...,...,...,...,...,...,...,...
9995,P007,C001501,T06807,I00028,S0007,10,cans,6.75,67.5
9996,P004,C000405,T02560,I00143,S0031,43,ct,16.00,688.0
9997,P015,C001789,T07589,I00142,S0021,152,ct,12.50,1900.0
9998,P003,C001500,T00881,I00194,S0037,19,bars,23.00,437.0
9999,P013,C000035,T02979,I00120,S0041,1,ct,9.00,9.0


Practice problem 4.2

Calculate the mean value of the total price of the fact table.

In [6]:
#Mean value of total price
total_price_mean = fact_table[['total_price']].mean()

print(total_price_mean)

total_price    1145.033275
dtype: float64

Practice problem 4.3

Calculate the standard deviation of all columns of the fact table.

In [17]:
#Standard deviation
val = fact_table[['quantity','unit_price', 'total_price']].std()

val

quantity        233.167596
unit_price        8.638702
total_price    4120.906268
dtype: float64

Practice problem 4.4

Find the most common unit in the fact table.

In [18]:
#Most Common Unit
val = fact_table[['unit']].mode()

val

  unit
0   ct


Practice problem 4.5

Find the skewness of the fact table.

In [20]:
#Skeness
val = fact_table[['quantity','unit_price', 'total_price']].skew()

val

quantity       11.421689
unit_price      1.870001
total_price    10.550289
dtype: float64

Practice problem 4.6

Find the median value of total price of the fact table.

In [22]:
# Median
val = fact_table[["total_price"]].median()
val

total_price    240.0
dtype: float64


Practice problem 4.7

Compute the sum of quantity, unit price, and total price group by coustomer key in the fact table with index.

In [32]:
#grou0pBy
df = fact_table.groupby('coustomer_key')[['quantity', 'unit_price', 'total_price']].sum().reset_index()
df

     coustomer_key  quantity  unit_price  total_price
0          C000001        80       60.00       1060.0
1          C000002        20       18.00        360.0
2          C000003       278      100.50       3728.0
3          C000004      1219      100.75      19473.5
4          C000005       215      124.00       4313.0
...            ...       ...         ...          ...
1979       C001996        72       83.00       2145.0
1980       C001997       630       46.00       9400.0
1981       C001998        37       16.00        592.0
1982       C001999       247       91.00       4710.0
1983       C002000        98      123.00       2258.0

[1984 rows x 4 columns]


Practice problem 4.8

Using the fact table find the sum of quantity and mean, min, and max values of the total price group by coustomer key.

In [36]:
#Sum of quantity
quantity = fact_table.groupby('coustomer_key')[['quantity']].sum().reset_index()
#total_price_min
total_price_min =  fact_table.groupby('coustomer_key')[['total_price']].min().reset_index()
#total_price_max
total_price_max =  fact_table.groupby('coustomer_key')[['total_price']].max().reset_index()
print(quantity)
print(total_price_min)
print(total_price_max)

     coustomer_key  quantity
0          C000001        80
1          C000002        20
2          C000003       278
3          C000004      1219
4          C000005       215
...            ...       ...
1979       C001996        72
1980       C001997       630
1981       C001998        37
1982       C001999       247
1983       C002000        98

[1984 rows x 2 columns]
     coustomer_key  total_price
0          C000001        140.0
1          C000002        360.0
2          C000003         29.0
3          C000004         67.5
4          C000005        308.0
...            ...          ...
1979       C001996        126.0
1980       C001997         84.0
1981       C001998        592.0
1982       C001999        168.0
1983       C002000         80.0

[1984 rows x 2 columns]
     coustomer_key  total_price
0          C000001        338.0
1          C000002        360.0
2          C000003       2325.0
3          C000004      18592.0
4          C000005       2223.0
...            ...          ...
1979       C001996       1722.0
1980       C001997       7336.0
1981       C001998        592.0
1982       C001999       2745.0
1983       C002000       1144.0

[1984 rows x 2 columns]


Practice problem 4.9

Find the total price and min-max of the unit price from the fact table group by the Upazila.

In [54]:
df=pd.merge(fact_table,store_dim, on='store_key')

#total Price group by upazila
total_price = df.groupby('upazila')[['total_price']].sum()

# min of the unit price
min = df.groupby('upazila')[['unit_price']].min()

# max of the unit price
max = df.groupby('upazila')[['unit_price']].max()


  
print(total_price)
print(min)
print(max)

                 total_price
upazila
Agargaon           180588.00
Baghaichari        210464.25
Balaganj           323197.75
Bashundhara R/A    465324.50
Bholahat           317127.75
Birganj            260203.50
Bishwanath         292397.25
Boira              196159.50
Borhanuddin        218102.00
Chadpur            202066.25
Dhanmondi          296917.75
Farmgate           204008.50
Fulbari            297245.25
Fulbaria           243455.00
Gaffargaon         400247.75
Gazipur Sadar      357561.25
Gournadi           160594.50
Jamalganj          234020.75
Jessore            304294.75
Kaligonj           259197.50
Kathalia           247891.25
Kawkhali           290529.50
Keranigong         274387.50
Kharpara           279935.75
Khetlal            258908.75
Khilgoan           257669.25
Komol Nagar        200745.75
Kulaura            166783.50
Magura             246563.75
Megna              427491.50
Mirpur-1           777261.25
Mohammadpur        296238.50
Nandail            176532.25
Narsingdi Sadar    354694.00
Rajshahi           286471.75
Ramgati            308020.00
Savar              244392.50
Sayedpur           135960.50
Sherpur            274747.75
Tahirpur           225339.50
Uttara             296594.50
                 unit_price
upazila
Agargaon               6.75
Baghaichari            6.00
Balaganj               6.75
Bashundhara R/A        6.00
Bholahat               6.00
Birganj                6.00
Bishwanath             6.75
Boira                  6.00
Borhanuddin            6.00
Chadpur                6.75
Dhanmondi              6.00
Farmgate               6.75
Fulbari                6.00
Fulbaria               6.00
Gaffargaon             6.00
Gazipur Sadar          6.75
Gournadi               6.00
Jamalganj              6.00
Jessore                6.75
Kaligonj               6.00
Kathalia               6.00
Kawkhali               6.00
Keranigong             6.00
Kharpara               6.00
Khetlal                6.00
Khilgoan               6.00
Komol Nagar            6.00
Kulaura                6.00
Magura                 6.00
Megna                  6.00
Mirpur-1               6.00
Mohammadpur            6.00
Nandail                6.00
Narsingdi Sadar        6.00
Rajshahi               6.75
Ramgati                6.00
Savar                  6.00
Sayedpur               6.75
Sherpur                6.00
Tahirpur               6.00
Uttara                 6.00
                 unit_price
upazila
Agargaon               55.0
Baghaichari            55.0
Balaganj               53.0
Bashundhara R/A        55.0
Bholahat               53.0
Birganj                55.0
Bishwanath             55.0
Boira                  48.0
Borhanuddin            48.0
Chadpur                55.0
Dhanmondi              48.0
Farmgate               53.0
Fulbari                53.0
Fulbaria               55.0
Gaffargaon             55.0
Gazipur Sadar          53.0
Gournadi               53.0
Jamalganj              55.0
Jessore                55.0
Kaligonj               55.0
Kathalia               55.0
Kawkhali               53.0
Keranigong             53.0
Kharpara               53.0
Khetlal                53.0
Khilgoan               55.0
Komol Nagar            55.0
Kulaura                55.0
Magura                 55.0
Megna                  53.0
Mirpur-1               55.0
Mohammadpur            45.0
Nandail                55.0
Narsingdi Sadar        55.0
Rajshahi               55.0
Ramgati                53.0
Savar                  55.0
Sayedpur               55.0
Sherpur                55.0
Tahirpur               55.0
Uttara                 48.0

Practice problem 4.10

Find the correlation between the quantity and the total price of the fact table.

In [55]:
#Finding Correlation 
corr=fact_table['quantity'].corr(fact_table['total_price'])

corr

0.9779865332515268

Practice problem 4.11

Find the correlation between the total price and the quantity of the fact table and describe the correlation.

In [9]:
#Finding Correlation 
corr=fact_table['total_price'].corr(fact_table['quantity'])



print(corr)
print("We get "+ str(corr) + " as the correlation between the scores of unit_price and quantity. This indicates that the two columns highly correlated in a positive direction.")

0.977986533251527
We get 0.977986533251527 as the correlation between the scores of unit_price and quantity. This indicates that the two columns highly correlated in a positive direction.


Practice problem 4.12

Find the correlation between all the columns of the fact table and describe the correlation.

In [8]:

numeric_columns = ['quantity', 'unit_price', 'total_price']
corr = fact_table[numeric_columns].corr()

print(corr)
print("We get "+ str(corr) + " as the correlation between the scores of unit_price and quantity. This indicates that the two columns highly correlated in a positive direction.")

             quantity  unit_price  total_price
quantity     1.000000    0.015193     0.977987
unit_price   0.015193    1.000000     0.096378
total_price  0.977987    0.096378     1.000000
We get              quantity  unit_price  total_price
quantity     1.000000    0.015193     0.977987
unit_price   0.015193    1.000000     0.096378
total_price  0.977987    0.096378     1.000000 as the correlation between the scores of unit_price and quantity. This indicates that the two columns highly correlated in a positive direction.